body{
    background-color: black;
    background-image: url(./Recursos/Fondo1.gif), url(./Recursos/Fondo2.gif), url(./Recursos/Fondo3.gif);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 167%,150%,140%;
    background-position: top,center,bottom;
    box-shadow: 100%,100%,100%;
}

p{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color:blue;
    text-decoration: underline;
}

h3{
    color: purple;
    text-decoration: underline;
}

li{
    color: red;
}