body{
    background-color: black;
    background-image: url(./Recursos/Fondo1.gif), url(./Recursos/Fondo2.gif), url(./Recursos/Fondo3.gif);
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 167%,150%,140%;
    background-position: top,center,bottom;
    box-shadow: 100%,100%,100%;
}

p{
    color: whitesmoke;
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: green;
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
}

h2{
    color: lightblue;
    text-decoration: underline;
    font-weight: bolder;
}

h3{
    color: lightcoral;
    text-decoration: underline;
    font-weight: bolder;
}

li{
    color: navajowhite;
    font-weight: bolder;
    font-size: 18px;
}

img{
    border-radius: 15px;
    box-shadow: 20px auto;
}